@font-face {
  font-family: 'InstrumentSerif';
  src: url('../assets/fonts/InstrumentSerif-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('../assets/fonts/SuisseIntl-Medium.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  background: #0e0e0e;
  color: white;
}

.header {
  padding: 2rem;
  font-family: 'InstrumentSerif', serif;
  text-align: center;     /* центрируем текст */
  font-size: 1.5rem;        /* размер шрифта заголовка */
  font-weight: bold;
  letter-spacing: 1px;    /* чуть больше пространства между буквами */
}

.filters {
  padding-top: 1rem;
  padding-bottom: 1.25rem;
  font-family: 'SuisseIntl', sans-serif;
  display: flex;          /* включаем Flexbox */
  justify-content: center; /* центрируем по горизонтали */
  gap: 1rem;              /* расстояние между кнопками */
  flex-wrap: wrap;        /* если кнопок много, перенос на новую строку */
}

.filters button {
  background: transparent;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'SuisseIntl', sans-serif;
  font-size: 0.9rem;
  line-height: 1;
  transition: font-family 0.2s ease, color 0.2s ease,letter-spacing 0.2s ease;
}

.filters button:hover {
  font-size: 1rem;
  color: red;
  font-family: 'InstrumentSerif', serif;
  letter-spacing: 1px;
  transition: letter-spacing 0.2s ease;
}

.filters button.active {
  font-size: 1rem;
  border-color: red;
  font-family: 'InstrumentSerif', serif;
}

.card {
  break-inside: avoid;
  margin-bottom: 1rem;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch; /* растягиваем по ширине */
  text-align: left; /* подпись под картинкой слева */
  color: #fff;
  position: relative; /* важно для absolute */
}

.card-meta {
  position: absolute;
  bottom: 0.25rem;      /* небольшой отступ от нижнего края */
  left: 0.5rem;
  right: 0.5rem;
  display: flex;
  justify-content: space-between; /* слева дата, справа теги */
  font-family: 'SuisseIntl', sans-serif;
  font-size: 0.7rem;
  color: #fff;           /* текст поверх картинки */
  pointer-events: none;  /* чтобы клик попадал на картинку под блоком */
}

.card-meta span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card video,
.card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  cursor: pointer;/* если нужно */
}

.masonry-grid {
  column-count: 4;
  column-gap: 1rem;
  padding: 0rem 8rem;
}

.card p {
  font-family: 'SuisseIntl', sans-serif;
  font-size: 0.8rem;
  margin: 0;
  padding: 0.25rem 0;
  text-align: left;
  color: #ccc; /* мелкий цвет */
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.92);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  border-radius: 8px;
  pointer-events: none;
  z-index: 9999;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
  border-radius: 8px;
}

.overlay-content img,
.overlay-content video {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
  border-radius: 8px;
  cursor: pointer;
}

