@font-face {
  font-family: 'InstrumentSerif';
  src: url('../assets/fonts/InstrumentSerif-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('../assets/fonts/SuisseIntl-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  background: #0e0e0e;
  color: white;
}

.header {
  padding: 2rem;
  font-family: 'InstrumentSerif', serif;
  text-align: center;     /* центрируем текст */
  font-size: 1.5rem;        /* размер шрифта заголовка */
  font-weight: bold;
  letter-spacing: 1px;    /* чуть больше пространства между буквами */
}

/* --------------------
// FILTERS
---------------------*/

.filters {
  padding-top: 1rem;
  padding-bottom: 1.25rem;
  font-family: 'SuisseIntl', sans-serif;
  display: flex;          /* включаем Flexbox */
  justify-content: center; /* центрируем по горизонтали */
  gap: 1rem;              /* расстояние между кнопками */
  flex-wrap: wrap;        /* если кнопок много, перенос на новую строку */
}

.filters button {
  background: transparent;
  color: #fff;
  border: none;
  padding: 0.5rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'SuisseIntl', sans-serif;
  font-size: 1.25rem;
  line-height: 1;
}

.filters button:hover {
  font-size: 1.3rem;
  color: red;
  font-family: 'InstrumentSerif', serif;
  letter-spacing: 1px;
}

.filters button.active {
  font-size: 1.3rem;
  border-color: red;
  font-family: 'InstrumentSerif', serif;
}

/* --------------------
// CARD
---------------------*/

.card {
  break-inside: avoid;
  margin-bottom: 1rem;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: left;
  color: #fff;
  position: relative;
}

.card-media {
  width: 100%;
  /* используем соотношение сторон через padding-bottom */
  padding-bottom: 66.66%; /* например 3:2 */
  position: relative;
  background: transparent; /* нет заливки */
}

.card-media img,
.card-media video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.card-media img.loaded,
.card-media video.loaded {
  opacity: 1;
}

.card-tags {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.card-tags span {
  cursor: pointer;
  transition: color 0.2s ease, opacity 0.2s ease;
}

.card-tags span:hover {
  color: red;
}

.masonry-grid {
  column-count: 4;
  column-gap: 1rem;
  padding: 0rem 16rem;
}

.card p {
  font-family: 'SuisseIntl', sans-serif;
  font-size: 0.8rem;
  margin: 0;
  padding: 0.25rem 0;
  text-align: left;
  color: #ccc; /* мелкий цвет */
}

/* --------------------
// OVERLAY
---------------------*/

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.92);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  border-radius: 8px;
  pointer-events: none;
  z-index: 9999;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
  border-radius: 8px;
}

.overlay-content img,
.overlay-content video {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
  border-radius: 8px;
  cursor: pointer;
}

