@font-face {
  font-family: 'InstrumentSerif';
  src: url('../assets/fonts/InstrumentSerif-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('../assets/fonts/SuisseIntl-Medium.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  background: #0e0e0e;
  color: white;
}

.header {
  padding: 2rem;
  font-family: 'InstrumentSerif', serif;
  text-align: center;     /* центрируем текст */
  font-size: 2rem;        /* размер шрифта заголовка */
  font-weight: bold;
  letter-spacing: 1px;    /* чуть больше пространства между буквами */
}

.filters {
  padding: 1rem 2rem;
  font-family: 'SuisseIntl', sans-serif;
  display: flex;          /* включаем Flexbox */
  justify-content: center; /* центрируем по горизонтали */
  gap: 1rem;              /* расстояние между кнопками */
  flex-wrap: wrap;        /* если кнопок много, перенос на новую строку */
}

.filters button {
  background: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'SuisseIntl', sans-serif;
  font-size: 0.9rem;
  transition: background 0.2s, color 0.2s;
}

.filters button:hover {
  background: #555;
}

.filters button.active {
  border-color: white;
}

.card {
  break-inside: avoid;   /* чтобы masonry не ломалась */
  width: 300px;          /* ширина карточки */
  margin-bottom: 1rem;
  background: #1a1a1a;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 0.5rem;
}

.card video,
.card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px; /* если нужно */
}

.masonry-grid {
  column-count: 4;
  column-gap: 1rem;
  padding: 8rem;
}

.card p {
  font-family: 'SuisseIntl', sans-serif;
  font-size: 0.9rem;
  margin: 0;
  padding: 0.25rem 0;
}
